//font imports
@import url("https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker|Quicksand|Roboto|Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis:700|Josefin+Sans:700|Oswald:700|Raleway:700|Titillium+Web:700&display=swap");

/************************************

    C O L O U R  V A R I A B L E S 

*************************************/
$black: #010000;
$white: #ffffff;

$lightGrey: #e6e6e6;
$grey: #707070;
$darkGrey: #212529; //#333;
$red: #ff1755;
$lightPrimary: #94c0f4;

$purple: #8472bb;
$blueMid: #3a6493;
$teal: #2e9ac5;
$yellow: #f7c85f; //#e2b42a;
$orange: #ee6831; //#c57a29;
$green: #3dba50; //#49882e;
$pinkle: #a64d79;

$error: $red;
$warning: $yellow;
$success: $green;

/*************************************

    S P A C I N G

**************************************/
$lgSpacing: 3em;
$standardSpacing: 1em;
$smSpacing: 0.25em;
$standard-margin-spacing: 15px;

$radius: 4px;

//font family
//decorative text
/*************************************

    F O N T  F A M I L I E S

**************************************/
//DECORATIVE
$decorativeSize1: 4em;

$headerFont1: "Permanent Marker", cursive;
$bodyFont: "Quicksand", sans-serif;
$headerFont3: "Oswald", sans-serif;
$headerFont4: "Raleway", sans-serif;
$headerFont5: "Titillium Web", sans-serif;
$headerFont6: "Dosis", sans-serif;
$headerFont7: "Josefin Sans", sans-serif;

//NORMAL
$standardRadius: $standardSpacing;

body {
  font-family: $bodyFont; //"Roboto", sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
  min-width: 320px;
}

h1,
h2 {
  font-family: $headerFont3;
}

/***************************************
  
   B R E A K P O I N T    M I X I N S

****************************************/

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 50em) and (max-width: 64.374em) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  -transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

$colorLighten: 20%;
//secondary colour set
$secondaryColorSet: (
  purple: $purple,
  blue: $blueMid,
  yellow: $yellow,
  orange: $orange,
  teal: $teal,
  green: $green,
  red: $red,
  pinkle: $pinkle,
  grey: $darkGrey,
  purple-light: lighten($purple, $colorLighten),
  blue-light: lighten($blueMid, $colorLighten),
  yellow-light: lighten($yellow, $colorLighten),
  orange-light: lighten($orange, $colorLighten),
  teal-light: lighten($teal, $colorLighten),
  green-light: lighten($green, $colorLighten),
  red-light: lighten($red, $colorLighten),
  pinkle-light: lighten($pinkle, $colorLighten),
  grey-light: lighten($darkGrey, $colorLighten)
);

/* This uses the colors in $secondaryColorSet to create a class for each color that can be used in an icon */
// @each $colorName, $color in $secondaryColorSet {
//   &.i-#{"" + $colorName} {
//     @include icon-color($color, darken($color, 10%));
//   }
// }
