@import "config";

.button {
  padding: $standardSpacing;
  border-radius: 50px;
  max-width: 200px;
  margin: 0.5em;
  .label {
    padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    color: $white !important;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}

.rekt-button {
  padding: $standardSpacing;
  max-width: 200px;
  border-radius: 4px;
  margin: 0.5em;

  .label {
    padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    color: $white !important;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}
