@import "config";

.button {
  padding: $standardSpacing;
  border-radius: 50px;
  min-width: 120px;
  margin: 0.5em;
  text-align: center;
  .label {
    font-family: $rjbodyFont;
    padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    color: $white !important;
    font-family: $bodyFont;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}

.rekt-button {
  padding: $standardSpacing;
  min-width: 120px;
  border-radius: 4px;
  margin: 0.5em;
  text-align: center;

  .label {
    font-family: $rjbodyFont;
    padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    font-family: $bodyFont;
    //color: $white !important;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}

//ISSA SNACC MIXIN
@mixin snacc-bar($bgColor) {
  font-family: $rjbodyFont;
  background-color: $bgColor;
  border-radius: $radius;
  color: $white;
  min-height: 48px;
  width: 344px;
  padding: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14px;
  // text-transform: uppercase;
}

.snacc-bar-success {
  @include snacc-bar($green);
}

.snacc-bar-error {
  @include snacc-bar($red);
}

.snacc-bar-info {
  @include snacc-bar($darkGrey);
}
