@import "config";
@import "mixins";

.button {
  padding: $standardSpacing;
  border-radius: 50px;
  min-width: 120px;
  margin: 0.5em;
  text-align: center;
  .label {
    font-family: $rjbodyFont;
    //padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    font-family: $bodyFont;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}

.rekt-button {
  padding: $standardSpacing;
  min-width: 120px;
  border-radius: 4px;
  margin: 0.5em;
  text-align: center;
  :hover {
    text-decoration: none !important;
  }

  .label {
    font-family: $rjbodyFont;
    //padding: 0.25em;
    text-align: center;
    text-transform: uppercase;
    font-family: $bodyFont;
    //color: $white !important;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}
.rekt-button:hover {
  text-decoration: none !important;
}

.snacc-bar-success {
  @include snacc-bar($green);
}

.snacc-bar-error {
  @include snacc-bar($red);
}

.snacc-bar-info {
  @include snacc-bar($darkGrey);
}

.icon-button {
  position: relative;
  display: inline-block;
  border-radius: $radius;
  font-size: 1.25em;
  height: 48px;
  width: 48px;
  text-align: center;
  margin-right: $standardSpacing;
  i {
    padding: 14px;
  }
}
