@import "config";
@import "mixins";

footer {
  .footer-links {
    background-color: $darkGrey;
    a {
      color: $white;
    }
  }
  text-align: center;
  .footer-copyright {
    background-color: $black;
    color: $white;
  }
}
