@import "config";
@import "mixins";

.form-field {
  display: flex;
  flex-wrap: wrap;

  input[type="text"] {
    display: none;
  }
  border: 2px solid $lightGrey;
  border-radius: 4px;
  width: 100%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  appearance: none;
  //display: none;
}

// input[type=":checked"]:after {
//   content: "\2714";
//   font-size: 14px;
//   position: absolute;
//   top: 0px;
//   left: 3px;
//   color: #99a1a7;
// }

.checkbox-collection {
  align-content: center;
  align-items: center;

  .check-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: $standardSpacing;

    .checkbox[type="checkbox"] {
      align-items: center;
      border: 2px solid $primaryColour !important;
      border-radius: 2px;
      padding: 10px !important;
      margin-right: 4px;
    }

    .checkbox[type=":checked"] {
      border: 2px solid $primaryColour !important;
      content: "\2714";
      font-size: 14px;
      border-radius: 2px;
      background-color: $primaryColour;
      padding: 10px !important;
    }
  }
}
