@import "config";

.bg-img {
  margin: 0px !important;
  //background-image: url("../images/layers.png");
  background-image: url("../images/tree.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 990px;
}
