@import "config";

//styles for header
.navbar {
  width: 100%;
  height: 90px;
  background-color: $darkGrey;
  color: $white;
  margin: 0px;
  padding: 0px;
  .navbar-brand {
    display: inline-block;
  }
  .logo {
    margin-right: 0.5em;
    margin-left: 1em;
  }
  .nav-item {
    margin: 0.5em;
    a {
      color: $white;
      :hover {
        font-style: none !important;
      }
    }
  }
}
