@import "config";

//styles for header
.navbar {
  width: 100%;
  //Web nav height
  @include breakpoint(medium) {
    height: 90px;
  }
  @include breakpoint(large) {
    height: 90px;
  }
  @include breakpoint(small) {
    height: 90px;
  }
  @include breakpoint(xsmall) {
    height: 300px;
  }
  background-color: $darkGrey;
  color: $white;
  margin: 0px;
  padding: 0px;
  .navbar-brand {
    display: inline-block;
  }
  .logo {
    padding-right: 0.5em;
    padding-left: 1em;
  }
  .nav-item {
    margin: 0.5em;
    a {
      color: $white;
    }
    a:hover {
      text-decoration: none !important;
      color: $lightPrimary !important;
    }
  }
}
