@import "config";

.content {
  // background-color: #e6e6e6;
  // border-radius: $standardSpacing;
  padding-top: 1.25em;
  font-size: 16px;
  position: relative;
}

.font-component {
  .title {
    margin-top: $standard-margin-spacing;
    margin-bottom: $standard-margin-spacing;
    text-anchor: middle;
  }
  .content-code {
    display: inline-block;
    background-color: $lightGrey;
    border-radius: $standardRadius;
    padding: $standardSpacing;
  }
}

// styles for quotes
.quote {
  padding: 3em;
  text-align: center;
  font-size: 2em;
  font-family: $headerFont1;
  color: $grey;
}

// Styles for breakpoint table on font page
.breakpoint-table {
  overflow-x: scroll;
  margin-top: $standard-margin-spacing;
  margin-bottom: $standard-margin-spacing;
  td {
    padding: 1em;
  }
}

.file-location-component {
  margin-top: $standard-margin-spacing;
  margin-bottom: $standard-margin-spacing;
  border-radius: $standardRadius;
  background-color: $lightGrey;
  padding: $standard-margin-spacing;
  a {
    color: $darkGrey !important;
    &:hover {
      color: $grey;
    }
  }
}

// styles for font awesome icon component
.icon-component {
  .icon-collection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: $standard-margin-spacing;

    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
    i {
      font-size: $iconSize;
    }
  }
}
