@import "config";

.content {
  // background-color: #e6e6e6;
  // border-radius: $standardSpacing;
  padding-top: 1.25em;
  font-size: 16px;
  position: relative;
}

.font-component {
  .title {
    margin-top: $standard-margin-spacing;
    margin-bottom: $standard-margin-spacing;
    //height: 50px;
    text-anchor: middle;
  }
  .content-code {
    display: inline-block;
    background-color: $lightGrey;
    border-radius: $standardRadius;
    border: 3px solid $lightGrey; //$darkGrey;
    padding: $standardSpacing;
  }
}

.quote {
  padding: 3em;
  text-align: center;
  font-size: 2em;
  font-family: $headerFont1;
  color: $grey;
}

.breakpoint-table {
  overflow-x: scroll;
  margin-top: $standard-margin-spacing;
  margin-bottom: $standard-margin-spacing;
  td {
    padding: 1em;
  }
}

.file-location-component {
  margin-top: $standard-margin-spacing;
  margin-bottom: $standard-margin-spacing;
  border-radius: $standardRadius;
  background-color: $lightGrey;
  padding: $standard-margin-spacing;
  a {
    color: $darkGrey !important;
    &:hover {
      color: $grey;
    }
  }
}

.icon-collection {
  display: flex;
  flex-wrap: wrap;
  ul {
    li {
      list-style: none;
    }
  }
  i {
    // padding-right: 1em;
    font-size: $iconSize;
    color: $red; //testing
  }
}
